<h2>User info</h2>

<%= form_with medel: @user, url: user_path(@user.id),method: :patch, local:true do |f| %>
  <label for="inputName">Name</label>
  <%= f.text_field :name, autofocus: true, id: "inputName", placeholder: @user.name %>

  <label for="inputImage">image</label>
  <%= f.file_field :profile_image, accept: "image/*" %>
  <%#= f.fields_for :profile_image do |i| %>
  <%#= i.attachment_field :profile_image %>
  <%# end %>

  <label for="inputIntroduction">introduction</label>
  <%= f.text_area :introduction %>

  <%= f.submit "Update User" %>

<% end %>

