<div class="col-md-3">

<%= render "users/list", user: @user %>
<%= render "list", book: @book_new %>

</div>


<div class="col-md-8 offset-md-1">

<h2>Book detail</h2>

  <table class="table table-hover table-inverse">

    <thead>
      <tr>
        <td><%= image_tag @user.get_profile_image("100x100") %><br>
            <%= @user.name %>
        </td>
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>

           <% if @book.user == current_user %>

        <td><%= link_to edit_book_path(@book), class: 'btn btn-sm btn-success' do %>
            Edit
            <% end %>
        </td>
        <td><%= link_to book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-sm btn-danger' do %>
            Dstroy
            <% end %>
        </td>
          <% end %>
      </tr>
    </thead>
  </table>