

<%= render "users/list", user: @user %>
<%= render "list", book: @book_new %>

<div>

  <h1>show</h1>

<h1>Book detail</h1>

<%= image_tag @user.get_profile_image("100x100") %>

<%= @user.name %>
<%#= link_to user.name, user_path(@user) %>

<p>Title <%= @book.title %></p>

<p>Opinion <%= @book.body %></p>

<% if @book.user == current_user %>
  <%= link_to "Edit", edit_book_path(@book) %>
  <%= link_to "Destroy", book_path(@book), method: :delete, " data-confirm" => "本当に消しますか？" %>
 <% end %>

</div>