<div class="col-md-3">

<%= render "users/list", user: @user %>
<%= render "list", book: @book_new %>

</div>


<div class="col-md-8 offset-md-1">

<h2>Book detail</h2>

  <table class="table table-striped">

    <thead>
      <tr>
        <td>
          <%= image_tag @user.get_profile_image("100x100") %><br>
          <%= link_to user_path(@book.user_id) do %>
          <%= @book.user.name %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path do %>
          <%= @book.title %>
          <% end %>
        </td>
        <td>
          <%= @book.body %>
        </td>

        <% if @book.user == current_user %>

        <td>
          <%= link_to edit_book_path(@book), class: 'btn btn-sm btn-success' do %>
          Edit
          <% end %>
        </td>
        <td>
          <%= link_to book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-sm btn-danger' do %>
          Destroy
          <% end %>
        </td>
        <% end %>
      </tr>
    </thead>
  </table>
</div>